<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="hidden" value="<%=actualPage%>" id="actualPage">
    <section class="background">
        <header>
            <a href="/home" style="z-index: 3;"><img src="./assets/imgs/logo.png" class="logo"></a>
        </header>
        <div class="main-screen">