<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="background">
        <header>
            <a href="/home" style="z-index: 3;" class="link-logo"><img src="./assets/imgs/logo.png" class="logo"></a>
            <ul class="index">
                <li><a class="in-data" href="/data">DADOS</a></li>
                <li><a href="/calendar" class="calendar">AGENDA</a></li>
            </ul>
        </header>
        <div class="main-screen">
<section class="container">
    <div class="introduction">
        <h1><%=errorCode%></h1>
    </div>
</section>
<%- include('./includes/footer.ejs') %>